@{
    ViewBag.Title = "Home Page";
}

<button type="button" class="btn btn-primary btn-lg"><i class="fas fa-arrow-alt-circle-up"></i> Купить аккаунт</button>
<button type="button" class="btn btn-secondary btn-lg"><i class="fas fa-arrow-alt-circle-down"></i> Продать аккаунт</button>