@model MarketplaceMVC.Web.Areas.User.Models.Offer.OfferListViewModel
@using MarketplaceMVC.Web.HtmlHelpers

<ul class="account-inner-list" id="account-inner-list">

    <li class="account-inner-menu-item ">@Html.ActionLink("Активные (" + Model.CountOfActive + ")", "Active", "Offer", null, new { @class = "account-inner-menu-link " + Html.IsSelected(actions: "Active", controllers: "Offer") })</li>
    <li class="account-inner-menu-item">@Html.ActionLink("Неактивные (" + Model.CountOfInactive + ")", "InActive", "Offer", null, new { @class = "account-inner-menu-link " + Html.IsSelected(actions: "InActive", controllers: "Offer") })</li>
    <li class="account-inner-menu-item">@Html.ActionLink("Закрытые (" + Model.CountOfClosed + ")", "Closed", "Offer", null, new { @class = "account-inner-menu-link " + Html.IsSelected(actions: "Closed", controllers: "Offer") })</li>
</ul>
