@model MarketplaceMVC.Web.Models.Offer.OfferListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Домашняя</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.GameName Аккаунты</li>
            </ol>
        </nav>
    </div>


    @*<div class="col-lg-12 text-right mb-3">
        <a class="btn btn-primary" href="@Url.Action("Create","Offer")"><i class="fas fa-plus"></i> Продать аккаунт</a>
    </div>*@
    @{Html.RenderPartial("_SearchPanel", Model.SearchInfo);}

    <div class="col-lg-9">
        <div id="offers">
            @{Html.RenderPartial("_OfferTable", Model);}
        </div>

    </div>


</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/list.js"></script>

    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

}
