@model MarketplaceMVC.Web.Models.Offer.OfferListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    
    <div class="col-lg-12 text-center mb-5">
        <ul id="letters" class="list-inline align-middle">
            <li class="list-inline-item" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <div style="font-size: 26px">
                    <i class="fas fa-gamepad"></i>
                </div>
                <div style="font-size: 18px">
                    Все игры
                </div>
                <div id="myDropdown" class="dropdown-content">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>
                                A
                            </span>

                            <div class="">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/absolver-products/" title="Absolver">Absolver</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aq-products/" title="Adventure Quest">Adventure Quest</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aq3d-products/" title="Adventure Quest 3D">Adventure Quest 3D</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aqworlds-products/" title="Adventure Quest Worlds">Adventure Quest Worlds</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aoc-products/" title="Age of Conan">Age of Conan</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aion-eu-products/" title="Aion Online EU">Aion Online EU</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aion-products/" title="Aion Online US">Aion Online US</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/airmech-strike-products/" title="AirMech Strike">AirMech Strike</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/albion-online-products/" title="Albion Online">Albion Online</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/ava-products/" title="Alliance of Valiant Arms">Alliance of Valiant Arms</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/animal-jam-products/" title="Animal Jam">Animal Jam</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/apb-reloaded-eu-products/" title="APB Reloaded EU">APB Reloaded EU</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/apb-reloaded-us-products/" title="APB Reloaded US">APB Reloaded US</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/arcane-legends-products/" title="Arcane Legends">Arcane Legends</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/archeage-begins-products/" title="ArcheAge Begins">ArcheAge Begins</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/archeage-products/" title="ArcheAge Online">ArcheAge Online</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aov-products/" title="Arena of Valor">Arena of Valor</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/ark-products/" title="ARK: Survival Evolved">ARK: Survival Evolved</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/armored-warfare-products/" title="Armored Warfare">Armored Warfare</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/artifact-products/" title="Artifact">Artifact</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/ashes-of-creation-products/" title="Ashes of Creation">Ashes of Creation</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/asta-products/" title="ASTA">ASTA</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aura-kingdom-products/" title="Aura Kingdom">Aura Kingdom</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <span>
                                B
                            </span>

                            <div class="game-menu">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/absolver-products/" title="Absolver">Absolver</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aq-products/" title="Adventure Quest">Adventure Quest</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aq3d-products/" title="Adventure Quest 3D">Adventure Quest 3D</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aqworlds-products/" title="Adventure Quest Worlds">Adventure Quest Worlds</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aoc-products/" title="Age of Conan">Age of Conan</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aion-eu-products/" title="Aion Online EU">Aion Online EU</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/aion-products/" title="Aion Online US">Aion Online US</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/airmech-strike-products/" title="AirMech Strike">AirMech Strike</a></li>
                                    <li class="list-inline-item"><a href="https://www.playerauctions.com/albion-online-products/" title="Albion Online">Albion Online</a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="list-inline-item">C</li>
                        <li class="list-inline-item">D</li>
                        <li class="list-inline-item">E</li>
                        <li class="list-inline-item">F</li>
                    </ul>
                </div>
            </li>
            <li class="list-inline-item">
                CS:GO
            </li>
            <li class="list-inline-item">
                DOTA 2
            </li>
            <li class="list-inline-item">
                League Of Lagends
            </li>
            <li class="list-inline-item">
                World Of Tanks
            </li>
            <li class="list-inline-item">
                Warframe
            </li>
            <li class="list-inline-item">
                Warface
            </li>
            <li class="list-inline-item">
                Path of Exile
            </li>
            <li class="list-inline-item">
                World Of Warcraft
            </li>
            <li class="list-inline-item">
                CS:GO
            </li>
        </ul>

        <nav class="game-menu">
            <ul class="section-list">
                <li>
                    <a href="#">



                        <div style="font-size: 18px">
                            <i class="fas fa-gamepad"></i>Все игры
                        </div>
                    </a>
                    
                    <ul class="letter-list">
                        @foreach (var item in ViewData["Letters"] as Dictionary<char, List<string>>)
                        {
                            <li><a href="#">@item.Key</a>
                                <ul class="game-list">
                                    @foreach (var game in item.Value)
                                    {
                                        <li><a href="#">@game</a></li>
                                    }

                                </ul>
                            </li>
                        }
                        
                    </ul>
                      
                </li>
                <li>
                    <a href="#">Tutorials</a>
                    <ul>
                        <li><a href="#">Photoshop</a></li>
                        <li><a href="#">Illustrator</a></li>
                        <li>
                            <a href="#">Web Design</a>
                            <ul>
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Articles</a>
                    <ul>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">User Experience</a></li>
                    </ul>
                </li>
                <li><a href="#">Inspiration</a></li>
            </ul>
        </nav>

    </div>
    </div>
<div class="mb-5">
    
    
</div>
    <div class="row">
        @{Html.RenderPartial("_SearchPanel", Model.Games);}

        <div class="col-lg-9">
            <div id="offers">
                @{Html.RenderPartial("_OfferTable", Model);}
            </div>

        </div>


    </div>

    @section scripts{
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/list.js"></script>

        <script>
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown menu if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {

                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>
        
    }
