@model MarketplaceMVC.Web.Areas.User.Models.Feedback.FeedbackListViewModel
@{
    ViewBag.Title = "Negative";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-custom-account">
    @{ Html.RenderPartial("_Menu"); }
    @{ Html.RenderPartial("_FeedbackMenu", Model); }
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var feedback in Model.Feedbacks)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>432432</td>
                    <td>45353</td>
                    <td>634543</td>
                </tr>
            }

        </tbody>
    </table>
</div>

